.centered {
    border-collapse: collapse;
    td { 
        font-size: 4px;
        height:2px;
        vertical-align: center;
        text-align: center;    
        //background-color: green;
    }
}
.logo_etiqueta {
    padding: 0px; 
    margin: 0px;
    width:20px;
}